<div class="container">
    <h2>チーム編集</h2>
    <div class="text-right">
      <%= link_to "チーム削除", team_path(@team.id), method: :delete, class:"btn btn-danger" %>
    </div>


    <%= form_with model: @team, url: team_path, method: :patch, local:true do |f| %>
      <div class="row">
        <div class="col-md-5">

          <%= f.hidden_field :owner_id, value:"#{current_customer.id}" %>

          <%= f.label :"チーム名(必須)", class:"mt-3" %>
          <%= f.text_field :name, class:"form-control" %>

          <%= f.label :"活動エリア", class:"mt-3" %>
          <%= f.text_field :prefecture_id, class:"form-control", placeholder:"都道府県" %>

          <%= f.text_field :city, class:"form-control mt-3", placeholder:"市区町村" %>

          <%= f.label :"メンバー数(必須)", class:"mt-3" %>
          <%= f.text_field :member_count, class:"form-control" %>

          <%= f.label :"年代", class:"mt-3" %>
          <%= f.text_field :age, class:"form-control" %>


        </div>

        <div class="col-md-5">

          <%= f.label :"レベル", class:"mt-3" %>
       　  <%= f.text_field :level, class:"form-control" %>

          <%= f.label :"活動日時", class:"mt-3" %>
          <%= f.text_field :activities_time, class:"form-control" %>

          <%= f.label :"創立年", class:"mt-3" %>
          <%= f.text_field :founded, class:"form-control" %>

          <%= f.label :"チーム画像", class:"mt-3"  %>
          <%= f.file_field :team_image, accept: "image/*", class:"d-block" %>

          <%= f.label :"チーム紹介", class:"mt-3" %>
          <%= f.text_area :introduction, class:"form-control" %>

        </div>
      </div>

      <div class="col-5 mx-auto">
        <%= f.submit "更新", class:"btn btn-success form-control mt-3" %>
      </div>

    <% end %>
</div>