<div class="container">
  <h2>チーム登録</h2>
      <%= render "layouts/errors", object: @team %>
      <%= form_with model: @team, url: teams_path, method: :post, local:true do |f| %>
        <div class="row">
          <div class="col-md-6">

            <%= f.hidden_field :owner_id, value:"#{current_customer.id}" %>

            <%= f.label :"チーム名(必須)", class:"mt-3" %>
            <%= f.text_field :name, class:"form-control" %>

            <%= f.label :"活動エリア", class:"mt-3" %>
            <%= f.text_field :prefecture_id, class:"form-control", placeholder:"都道府県" %>

            <%= f.text_field :city, class:"form-control mt-3", placeholder:"市区町村" %>

            <%= f.label :"メンバー数", class:"mt-3" %>
            <%= f.text_field :member_count, class:"form-control", placeholder: "例)15人" %>

            <%= f.label :"年代", class:"mt-3" %>
            <%= f.text_field :age, class:"form-control", placeholder: "例)20代~30代" %>


          </div>

          <div class="col-md-6">

            <%= f.label :"レベル(10段階)", class:"mt-3" %>
         　  <%= f.text_field :level, class:"form-control", placeholder: "例)6~7" %>

            <%= f.label :"活動日時", class:"mt-3" %>
            <%= f.text_field :activities_time, class:"form-control", placeholder: "例)毎週土曜日朝9時" %>

            <%= f.label :"創立年", class:"mt-3" %>
            <%= f.text_field :founded, class:"form-control" %>

            <%= f.label :"チーム画像", class:"mt-3"  %>
            <%= f.file_field :team_image, accept: "image/*", class:"d-block" %>

            <%= f.label :"チーム紹介", class:"mt-3" %>
            <%= f.text_area :introduction, class:"form-control" %>



          </div>

        </div>
        <div class="col-5 mx-auto">
          <%= f.submit "登録", class:"btn btn-primary form-control mt-3" %>
        </div>

      <% end %>

</div>