<div class="container">
  <h2 class="team-caption mx-auto text-center mt-5 mb-5">チーム詳細</h2>
  <div class="row">
    <div class="col-md-5 mt-5 mb-3">
      <div class=" team-section-bg mt-5">
         <div class="team-profile-bg mt-2">
          <div class="d-flex">
           <div>
              <%= image_tag @team.get_team_image("150x150") %>
            </div>
            <div class="ml-5 mt-2">
              <%= link_to "予定表・成績", team_schedules_path(@team.id), class:"btn btn-sm btn-primary mt-5" %><br>
              <% if @team.owner_id != current_customer.id %>
                <%= link_to "オーナーチャット", room_path(@team.owner_id), class:"btn btn-sm btn-primary mt-2" %>
              <% end %>
            </div>
          </div>
          <p class="text-center mt-3"><%= @team.name %>の詳細
          <% if @team.owner_id == current_customer.id %>
            <%= link_to "編集", edit_team_path(@team.id), class:"btn btn-sm btn-success ml-3" %></p>
          <% end %>

           <table class="table">
            <tbody>
              <tr>
                <th>代表者</th>
                <td colspan="2"><%= link_to @team.owner_name(@team.owner_id), customer_path(@team.owner_id) %></td>
              </tr>
              <tr>
                <th>活動エリア</th>
                <td colspan="2"><%= @team.prefecture_id %><<%= @team.city %></td>
              </tr>
              <tr>
                <th>メンバー数</th>
                <td colspan="2"><%= @team.member_count %></td>
              </tr>
               <tr>
                <th>年代</th>
                <td colspan="2"><%= @team.age %></td>
              </tr>
              <tr>
                <th>レベル</th>
                <td colspan="2"><%= @team.level %></td>
              </tr>
              <tr>
                <th>活動日時</th>
                <td colspan="2"><%= @team.activities_time %></td>
              </tr>
              <tr>
                <th>チーム紹介</th>
                <td colspan="2"><%= simple_format(@team.introduction) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <p>グラウンド費計算</p>
        <%= form_with url:team_path(@team), method: :get, local: true do |f| %>
          <%= f.label :グラウンド費用 %> ÷ <%= f.label :人数 %><br>
          <%= f.text_field :ground %>÷<%= f.text_field :member %>
          <%= f.submit "計算", class:"btn btn-primary" %>
          <%= f.label :費用（一人当たり） %><br>
          <%= f.text_field :ground_price, value:"#{@ground_price}" %>

        <% end %>
      </div>


    </div>



    <div class="col-md-7">
      <div class="text-center">
        <%= link_to "　　投稿　　", new_post_path, class:"btn btn-lg btn-primary" %>
      </div>
      <div class="text-center mt-5 team-section-bg">
        <h2>チームの投稿</h2>
         <%= paginate @posts %>
        <%= render "posts/index", posts: @posts %>
      </div>
    </div>
  </div>
</div>