    <div class="container">
        <div class="row mb-5">
            <h2><%= @team.name %>の予定・成績</h2>
            <% if @team.owner_id == current_customer.id %>
                <div class="ml-auto">
                    <%= form_with model: @schedule, url: team_schedules_path(@team.id), method: :post, local:true do |f| %>
                        <%= f.label :タイトル %><br>
                        <%= f.text_field :title %><br>
                        <%= f.label :予定開始 %><br>
                        <%= f.datetime_select :starts_at %><br>
                        <%= f.label :予定終了 %><br>
                        <%= f.datetime_select :ends_at %><br>
                        <%= f.submit "予定登録", class:"btn btn-primary" %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <p><strong>予定一覧</strong></p>
            <table class="table">
                <tbody>
                    <% @schedules_index.each do |schedule| %>
                        <tr>
                            <td><%= schedule.title %></td>
                            <td><%= schedule.starts_at.strftime("%m-%e %H:%M") %></td>
                            <td><%= schedule.ends_at.strftime("%m-%e %H:%M") %></td>
                            <% if @team.owner_id == current_customer.id %>
                                <td><%= link_to "削除", team_schedule_path(@team.id,schedule.id), method: :delete, class:"btn btn-danger" %></td>
                            <% end %>
                        </tr>
                    <% end %>
                    <%= paginate @schedules_index %>
                </tbody>
            </table>
        </div>
        <!--fullcalendar-->
        <div id='calendar'></div>

        <div class="row">
            <% if @team.owner_id == current_customer.id %>
                <%= form_with model: @team_record, url: team_team_records_path(@team.id), method: :post, local: true do |f| %>
                    <div class="d-md-flex mt-5 mb-3">
                        <div class="mr-2">
                            <%= f.label :日程%><br>
                            <%= f.text_field :day, placeholder:"例）3/15" %>
                        </div>
                        <div class="mr-2">
                            <%= f.label :場所 %><br>
                            <%= f.text_field :place %>
                        </div>
                         <div class="mr-2">
                            <%= f.label :対戦相手 %><br>
                            <%= f.text_field :opponent %>
                        </div>
                         <div class="mr-2">
                            <%= f.label :スコア %><br>
                            <%= f.text_field :score, placeholder:"例）1-1" %>
                        </div>
                         <div class="mr-2">
                            <%= f.label :内容 %><br>
                            <%= f.text_area :note, placeholder:"200文字以内" %>
                        </div>
                         <div class="mr-2">
                            <%= f.label :結果 %><br>
                            <%= f.select :result, [["○","○"],["△","△"],["×","×"]] %>
                        </div>
                    </div>

                    <div class="text-right mb-3">
                        <%= f.submit "成績入力", class:"btn btn-primary" %>
                    </div>

                <% end %>
             <% end %>
        </div>
        <div class="row">
            <p class="mt-3"><strong>成績一覧</strong></p><br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>日程</th>
                        <th colspan="3">対戦相手</th>
                        <th>スコア</th>
                    </tr>
                </thead>
                <tbody>
                    <% @team_records.each do |team_record| %>

                        <tr>
                            <td><%= link_to team_record.day, team_team_record_path(@team.id, team_record.id) %></td>
                            <td colspan="3"><%= link_to team_record.opponent, team_team_record_path(@team.id, team_record.id) %></td>
                            <td><%= link_to team_record.score, team_team_record_path(@team.id, team_record.id) %></td>
                        </tr>

                    <% end %>
                </tbody>
            </table>
        </div>

    </div>
