<div class="container">
  <div class="col-md-6 mx-auto">
    <h2 class="mt-5">成績詳細編集</h2>
    <%= form_with model: @team_record, url: team_team_record_path(@team.id, @team_record.id), method: :patch, local: true do |f| %>
        <div class="">
            <div class="mt-3">
                <%= f.label :日程%><br>
                <%= f.text_field :day, placeholder:"例）3/15", class:"form-control" %>
            </div>
            <div class="mt-3">
                <%= f.label :場所 %><br>
                <%= f.text_field :place, class:"form-control" %>
            </div>
             <div class="mt-3">
                <%= f.label :対戦相手 %><br>
                <%= f.text_field :opponent, class:"form-control" %>
            </div>
             <div class="mt-3">
                <%= f.label :スコア %><br>
                <%= f.text_field :score, placeholder:"例）1-1", class:"form-control" %>
            </div>
             <div class="mt-3">
                <%= f.label :内容 %><br>
                <%= f.text_area :note, placeholder:"200文字以内", class:"form-control" %>
            </div>
             <div class="mt-3">
                <%= f.label :結果 %><br>
                <%= f.select :result, [["○","○"],["△","△"],["×","×"]] , class:"form-control"%>
            </div>
        </div>

        <div class="text-right mb-3">
            <%= f.submit "成績入力", class:"btn btn-primary" %>
        </div>

    <% end %>
  </div>
</div>
