<div class="teams-img text-center pt-5">
  <p class="d-inlineblock">
   投稿する際はこちらから投稿を行なってください
  </p>

  <i class="fa-solid fa-hand-point-down"></i><br>

  <%= link_to "　　投　稿　　", new_post_path, class:"btn btn-lg btn-primary mt-3" %>
</div>

<div class="container">
  <h2 class="posts-caption mx-auto text-center mt-5 mb-5">投稿一覧</h2>

  <div class="col-md-8 mx-auto mt-5">
    <%= link_to "お気に入り順", posts_path(sort: "favorite") %>/
    <% if signed_in? %>
       <%= link_to "フォロー中", posts_path(sort: "follow") %>/
    <% end %>
    <%= link_to "タグ一覧", root_path %>
    <%= render "posts/tag_searches" %>
    <div class="posts-section-bg">
      <%= render "posts/index", posts: @posts %>
      <%= paginate @posts %>
    </div>

  </div>
</div>